@page "{id:int}"
@model GerenRest.RazorPages.Pages.Garcon.Delete

<div>
    <h1>Detalhes do garçon a ser removido</h1>

    <p><strong>Nome:</strong>@Model.GarconModel.Nome @Model.GarconModel.Sobrenome</p>
    <p><strong>Numero Identificação:</strong>@Model.GarconModel.NumIdentificao</p>
    <p><strong>Telefone:</strong>@Model.GarconModel.Telefone</p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Deletar" class="btn btn-danger"/>
        <a asp-page="./Index" class="btn btn-primary">Retornar para a listagem</a>
    </div>
</form>