@page "{id:int}"
@model GerenRest.RazorPages.Pages.Produto.Delete

<div>
    <h1>Detalhes da Produto a ser removido</h1>

    <p><strong>Nome:</strong>@Model.ProdModel.Nome</p>
    <p><strong>Descrição:</strong>@Model.ProdModel.Descricao</p>
    <p><strong>Preço:</strong>@Model.ProdModel.Preco</p>
    <p><strong>Categoria:</strong>@Model.ProdModel.Categoria!.Nome</p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Deletar" class="btn btn-danger"/>
        <a asp-page="./Index" class="btn btn-primary">Retornar para a listagem</a>
    </div>
</form>