@page "{id:int}"
@model GerenRest.RazorPages.Pages.Produto.Edit

<h1>Editar informações do Produto</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <input type="hidden" asp-for="ProdModel.ProdutoID">
            <div class="form-group">
                <label asp-for="ProdModel.Nome">Nome</label>
                <input asp-for="ProdModel.Nome" class="form-control">
                <span asp-validation-for="ProdModel.Nome" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="ProdModel.Descricao">Descrição</label>
                <input asp-for="ProdModel.Descricao" class="form-control">
                <span asp-validation-for="ProdModel.Descricao" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="ProdModel.Preco">Preço</label>
                <input asp-for="ProdModel.Preco" class="form-control">
                <span asp-validation-for="ProdModel.Preco" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="ProdModel.CategoriaID">Categoria</label>
                <select asp-for="ProdModel.CategoriaID">
                    @foreach (var catModel in Model.CatModel!)
                    {
                        if(catModel.CategoriaID == Model.ProdModel.CategoriaID) {
                            <option value="@catModel.CategoriaID" selected>@catModel.Nome</option>
                        } else {
                            <option value="@catModel.CategoriaID">@catModel.Nome</option>
                        }
                    }
                </select>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Salvar"/>
                <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>